<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="../static/css/general.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>{{title}} - Social Insecurity</title>
    </head>
    <body>
        {% if title == 'Welcome' %}
        <nav class="navbar navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="#">Social Insecurity</a>
        </nav>
        {% else %}
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">
            <a class="navbar-brand" href={{url_for('stream', username=username)}}>Social Insecurity</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {% if title == 'Stream' or title == 'Comments' %}
                    <a class="nav-link active" href={{ url_for('stream', username=username) }}>Stream <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href={{ url_for('stream', username=username) }}>Stream</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if title == 'Friends' %}
                    <a class="nav-link active" href={{ url_for('friends', username=username) }}>Friends <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href={{ url_for('friends', username=username) }}>Friends</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if title == 'Profile' %}
                    <a class="nav-link" href={{ url_for('profile', username=username) }}>Profile <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href={{ url_for('profile', username=username) }}>Profile</a>
                    {% endif %}
                </li>
            </ul>
            <a class="btn btn-outline-dark" href={{url_for('index')}} role="button">Log Out</a>
            </div>
        </nav>
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Info:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
</html>