{% extends "base.html.j2" %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Social Insecurity</h1>
      <p class="lead">The social network for the insecure&trade;</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="card text-center">
          <div class="card-header">Sign In</div>
          <div class="card-body">
            <h5 class="card-title">Access an existing profile</h5>
            <form action="" method="post" novalidate>
              {{ form.login.username }}
              {{ form.login.password }}
              {{ form.login.remember_me }}
              {{ form.login.submit(class_="btn btn-primary") }}
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="card text-center">
          <div class="card-header">Register</div>
          <div class="card-body">
            <h5 class="card-title">Create a new profile</h5>
            <form action="", method="post" novalidate>
              {{ form.register.first_name }}
              {{ form.register.last_name }}
              {{ form.register.username }}
              {{ form.register.password }}
              {{ form.register.confirm_password }}
              {{ form.register.submit(class_="btn btn-primary") }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
