{% extends "base.html" %}
{% from "macros/render_field.html" import render_field %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Social Insecurity</h1>
            <p class="lead">The social network for the insecure&trade;</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card text-center">
                    <div class="card-header">Sign In</div>
                    <div class="card-body">
                        <h5 class="card-title">Access an existing profile</h5>
                        <form action="" method="POST" novalidate>
                            {{ render_field(form.login.username) }} {{ render_field(form.login.password) }} {{
                            render_field(form.login.remember_me) }} {{ render_field(form.login.submit) }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card text-center">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <h5 class="card-title">Create a new profile</h5>
                        <form action="" , method="POST" novalidate>
                            {{ render_field(form.register.first_name) }} {{ render_field(form.register.last_name) }} {{
                            render_field(form.register.username) }} {{ render_field(form.register.password) }} {{
                            render_field(form.register.confirm_password) }} {{ render_field(form.register.submit) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
