{% extends "base.html.j2" %}
{% block content %}
  <div class="container-flex justify-content-center">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-text">About {{ username }}</h1>
            <button type="button"
                    class="btn btn-link"
                    onclick="switchVisibility('#view-details', '#edit-details')">
              <span class="fa fa-edit"></span>&nbsp;Edit
            </button>
            <!--View details-->
            <div id="view-details">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-inline">
                  <div class="row">
                    <p class="col-sm-2">Name:</p>
                    <p class="text-right col-sm-10 text-muted">{{ user.first_name }} {{ user.last_name }}</p>
                  </div>
                </li>
                <li class="list-group-item d-inline">
                  <div class="row">
                    <p class="col-sm-2">Education:</p>
                    <p class="text-right col-sm-10 text-muted">{{ user.education }}</p>
                  </div>
                </li>
                <li class="list-group-item d-inline">
                  <div class="row">
                    <p class="col-sm-2">Employment:</p>
                    <p class="text-right col-sm-10 text-muted">{{ user.employment }}</p>
                  </div>
                </li>
                <li class="list-group-item d-inline">
                  <div class="row">
                    <p class="col-sm-2">Favorite song:</p>
                    <p class="text-right col-sm-10 text-muted">{{ user.music }}</p>
                  </div>
                </li>
                <li class="list-group-item d-inline">
                  <div class="row">
                    <p class="col-sm-2">Favorite movie:</p>
                    <p class="text-right col-sm-10 text-muted">{{ user.movie }}</p>
                  </div>
                </li>
                <li class="list-group-item d-inline">
                  <div class="row">
                    <p class="col-sm-2">Nationality:</p>
                    <p class="text-right col-sm-10 text-muted">{{ user.nationality }}</p>
                  </div>
                </li>
                <li class="list-group-item d-inline">
                  <div class="row">
                    <p class="col-sm-2">Birthday:</p>
                    <p class="text-right col-sm-10 text-muted">{{ user.birthday }}</p>
                  </div>
                </li>
              </ul>
            </div>
            <!--Edit details-->
            <div id="edit-details" style="display: none;">
              <form action="" method="post" novalidate>
                {{ form.education }}
                {{ form.employment }}
                {{ form.music }}
                {{ form.movie }}
                {{ form.nationality }}
                {{ form.birthday }}
                {{ form.submit(class="btn btn-primary") }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
  <script>
    function switchVisibility(elem1, elem2) {
        let viewDetails = document.querySelector(elem1);
        let editDetails = document.querySelector(elem2);

        viewDetails.style.display = (
            viewDetails.style.display == "block" ? "none" : "block");
        editDetails.style.display = (
            editDetails.style.display == "block" ? "none" : "block");
    };
  </script>
{% endblock script %}
